/node_modules
/build
/dist
/LICENSE
Rplots.pdf
/GeoLift
.env
/backend/node_modules
api/storage_temp/clean_df/*
api/storage_temp/geolift/*
api/storage_temp/market_selection/*
api/storage_temp/rank_df/*